.diceSection{
    display: flex;
    justify-content: center;
}
.diceContainer{
    display: flex;
    justify-content: space-evenly;
    width: 500px;

}

.dice{
    padding: 1rem;
    border: 3px solid black;
}

.scoreboardContainer{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.scoreboardRow{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;

}
.scoreboardName{
    display: flex;
    width: 60%;
    padding: 2px;
    align-items: center;

}

.scoreboardYou{
    display: flex;
    text-align: center;
    border-left: 2px solid black;
    flex-grow: 1;
    justify-content: center;
    width: 20%;
    padding: 3px;

}
.divider{
    border-top: 4px solid black;
}
