body{
    background-color: gainsboro;
    font-family: 'Roboto Mono', monospace;
}

.diceSection{
    display: flex;
    justify-content: center;
}
.diceContainer{
    display: flex;
    justify-content: space-evenly;
    width: 500px;

}

.dice{
    padding: 1rem;
    border: 3px solid black;
}
.scoreboardSection{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.scoreboardContainer{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.scoreboardRow{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;

}
.scoreboardName{
    display: flex;
    width: 60%;
    padding: 2px;
    align-items: center;

}

.scoreboardYou{
    display: flex;
    text-align: center;
    border-left: 2px solid black;
    flex-grow: 1;
    justify-content: center;
    width: 20%;
    padding: 3px;

}
.divider{
    border-top: 4px solid black;
}
.buttonContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}
.btn{

}
.rollText{
    font-size: 32px;
}
.rollCount{
    font-size: 48px;
}
.rollStatus{
    padding-top: 5px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    
}